.App {
  margin-top: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-self: row;

}



.header__container{
  background-color: beige;
  display: flex;
  height: 60px;
}

.header__left{
  width: 100%;
}

.header__right{
  width: 100%;
  align-content: right;
  background-color: red;
  display: flex;
  justify-content: right;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  background-color: #313F50;
  width: 200px;
}

.Header {
  background-color: green;
}

.logo{
  width: 100px;
  height: 60px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 0px;
}