.delete___user{
    display: flex;
    flex-direction: column;
    background-color: white;
    -moz-box-shadow: 0px 1px 5px 0px #676767;
    -webkit-box-shadow: 0px 1px 5px 0px #676767;
    box-shadow: 0px 1px 5px 0px #676767;
    border-radius: 25px;
    padding: 25px;
}
.delete___user input{
    width: 120%;

}

.administer__user {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    background-color: white;
    -moz-box-shadow: 0px 1px 5px 0px #676767;
    -webkit-box-shadow: 0px 1px 5px 0px #676767;
    box-shadow: 0px 1px 5px 0px #676767;
    border-radius: 25px;
    padding: 25px;

}

.administer__user input{
    width: 120%;

}