.registration__center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  border-radius: 10px;
  background: white;
  border: 2px solid whitesmoke;
}

.registration__center h1{
  text-align: center;
}

.registration__top{
  display: flex;
  border-bottom: 1px solid silver;
  align-items: center;
}


.formContainer{
  padding: 0 40px;
  box-sizing: border-box;
}

.formContainer .txt_field_reg{
  position: relative;
  margin: 30px 0;
}

.txt_field_reg .inputData{
  width: 100%;
  top: -30px;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  background-color: none;
  outline: none;
  border: none;
}

.txt_field_reg label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: grey;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}

.txt_field_reg span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: grey;
  transition: .5s;
}


.txt_field_reg .inputData:focus ~ label,
.txt_field_reg .inputData:valid ~ label
{
    top: -5px;
    color: #2691d9;
}
.txt_field_reg .inputData:focus ~ span::before{
    width: 100%;
}

.register__button{
  font-size: 18px;
  width: 80%;
  margin-left: 10%;
  height: 50px;
  border: 1px solid;
  background: #2691d9;
  border-radius: 25px;
  font-size: 18px;
  color: whitesmoke;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}



